#pokemonShop {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 90%;
  padding: 5px;
  margin: auto;
}

.buttonPagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.measurement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.modalPagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.paginationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#prevPage,
#nextPage,
#currentPage {
  background-color: lightcoral;
}

#inputSearch {
  width: 250%;
}

#numberSearch {
  text-align: center;
}

.name {
  text-transform: capitalize;
  font-size: 1rem;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: calc(20% - 5px);
  justify-content: space-evenly;
  text-align: center;
}

.spriteModal {
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  border-radius: 60%;
  border: solid black 1px;
  width: 95%;
}

.sprite:hover {
  margin: auto;
  width: 100%;
  border-radius: 60%;
  box-shadow: 1px 1px 10px purple;
}

.button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 8px;
  width: 95%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button:after {
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.button:hover {
  font-weight: bolder;
  box-shadow: 1px 5px 20px black;
  background-color: lightcoral;
  color: black;
}

.button:hover:after {
  opacity: 1;
  right: 10px;
}

.footerStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.creator {
  margin-top: 100px;
}

.creator,
.fotterLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2rem;
  text-shadow: 2px 2px orange;
  color: darkred;
  text-align: center;
}

.fotterLink {
  text-decoration: none;
  font-size: 1.5rem;
  color: darkblue;
  font-weight: bolder;
}

.modal-content {
  border-radius: 10px;
  border: solid black 4px;
  box-shadow: 1px 1px 25px skyblue;
}

@media (max-width: 480px) {
  .product-container {
    width: calc(50% - 5px);
  }

  .name {
    font-size: 1.5rem;
  }

  #prevPage,
  #nextPage,
  #currentPage {
    width: 90px;
  }

  #numberSearch {
    width: 60%;
    margin-top: 15px;
  }
}

@media (min-width: 481px) {
  .product-container {
    width: calc(50% - 5px);
  }
  .name {
    font-size: 1.5rem;
  }

  #prevPage,
  #nextPage,
  #currentPage {
    width: 120px;
  }

  #numberSearch {
    width: 40%;
  }
}

@media (min-width: 624px) {
  .product-container {
    width: calc(33% - 5px);
  }

  #prevPage,
  #nextPage,
  #currentPage {
    width: 100px;
  }

  #numberSearch {
    width: 35%;
  }
}

@media (min-width: 769px) {
  .product-container {
    width: calc(33% - 5px);
  }

  #prevPage,
  #nextPage,
  #currentPage {
    width: 110px;
  }

  #numberSearch {
    width: 30%;
  }
}

@media (min-width: 1025px) {
  .product-container {
    width: calc(25% - 5px);
  }

  #prevPage,
  #nextPage,
  #currentPage {
    width: 100px;
  }

  #numberSearch {
    width: 25%;
  }
}

@media (min-width: 1201px) {
  .product-container {
    width: calc(16% - 5px);
  }

  #prevPage,
  #nextPage,
  #currentPage {
    width: 100px;
  }

  #numberSearch {
    width: 15%;
  }
}
